@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle,
.sidebarblock > .content > .title,
#header > h1:first-child {
  color: #0f3540;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Uni Neue", Sans-serif;
} */

a,
a > code {
  transition: 0.3s;
  color: #ed694b;
  text-decoration: none;
  text-underline-position: under;
}

#content h2 > a.link,
#content h3 > a.link,
#content h4 > a.link,
#content h5 > a.link,
#content h6 > a.link {
  color: #ed694b;
  text-decoration: underline;
  text-decoration-color: #fde1db;
}

a:hover,
#toc a:hover,
h2 > a.link:hover,
h3 > a.link:hover,
h4 > a.link:hover,
h5 > a.link:hover,
h6 > a.link:hover,
#content h2 > a.link:hover,
#content h3 > a.link:hover,
#content h4 > a.link:hover,
#content h5 > a.link:hover,
#content h6 > a.link:hover {
  color: #0f3540;
  text-decoration: underline;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: rgb(196, 0, 0);
}

.fa-circle-o {
  color: orange;
}